@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  width: 100%;
  margin: 0px;
}

.header-home {
  width: 100%;
  background: url('../images/demo_header.jpg') no-repeat;
  background-size: cover;  
  min-height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.contents {
  width: 100%;
  background-color:#fff;
  padding-top: 0px;
  font-size: 16px;
  color: #ffffff;
}

.thumbnail {
  border: 0px solid transparent;
}

.thumbnail > .caption {
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  margin-top: 50px;
  width: 100%;
  background-color: #444444;
  padding-bottom: 0px;
  font-size: 16px;
  color: #ffffff;
}

.footer-content {
  padding-top: 50px;
}

.footer-image {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.footer-underline {
  margin-top: 0;
  margin-bottom: -10px;
  border: none;
  height: 1px;
  align:center;
  width: 50px;
  color: #fff; /* old IE */
  background-color: #fff; /* Modern Browsers */
  margin-bottom: 20px;
}

.footer-links {
  background-color: #3c3c3c;
  text-align: left;
  padding:10px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
}

/* Upto this is used in navbar, footer and index.php */

.table-display {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  align: center;
}

.table-display > legend {
  border: 1px solid grey;
  border-radius: 10px;
  width: auto;
  padding: 10px;
}

table.display {
  border: 1px dashed #A2C537;
  border-collapse: collapse;
}

th.heading {
  background: #A7C942;
  border: 1px solid #A2C537;
  color: #fff;
  padding: 10px;
}

tr.print-value:nth-child(even) {
  background: #EAF2D3;

}

tr.print-value:nth-child(odd) {
  background: #FFFFFF;
}

tr.print-value > td {
  border: 1px solid #A2C537;
  border-collapse: collapse;
  padding:5px 20px 5px 20px;
  text-align: center;
}

/* Upto this is used in csvpreview.php */

.register-form {
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.login-form {
  padding-top: 60px;
}

.content-table {
  width: 50%;
  background-color:#fff;
  font-family: "Raleway", sans-serif;
  padding-top: 0px;
  font-size: 16px;
  color: #000;
  padding-bottom: 50px;
}

.textbox-register { 
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  border-radius: 10px; 
  border: 1px solid #C2C2C2; 
  outline:0; 
  height: 20px; 
  width: 350px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  display: block;
  margin-top: 20px;
  width: 375px;
  height: 45px;
}

select.custom-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  margin-top: 20px;
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #C2C2C2;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: center;
  color:gray;
  padding: 10px;
  width: 375px;
  cursor: pointer;
  text-align-last: center; 
  background: #fff url('../images/icon-dropdown.png') no-repeat right;
}

label.item {
  display: inline-block;
  position: relative;
}

label.item > input {
    visibility: hidden;
    position: absolute;
}

label.item > .radio-image::before {
  content: url("../images/radio-unchecked.png");
}

label.item > input[type="radio"]:checked + .radio-image::before {
  content: url("../images/radio-checked.png");
}

.submit-btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border: 0px solid #C2C2C2;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: center;
  color:#fff;
  background: #f3690e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 375px;
  display: block;
  font-weight: bold;
}

.submit-btn:hover {
  text-decoration: none;
}

.login {
  color: #f3690e;
  text-decoration: none;
}

.login:hover {
  text-decoration: none;
  font-weight: bold;
  transition: .3s;
  color: #f3690e;
}

.login:active {
  text-decoration: none;
  transition: .3s;
  font-weight: bold;
  color: #f3690e;
}

/* Upto this is used in register.php */

.form-button {
  border: 1px solid grey;
  padding: 5px 30px;
  width: 200px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  border-radius: 10px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #e7e7e7;
  color: black;
}

.form-button-disabled {
  border: 1px solid grey;
  padding: 5px 30px;
  width: 200px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  border-radius: 10px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #e7e7e7;
  color: grey;
}

.table-button-disabled {
  border: 0px solid #C2C2C2;
  text-align: center;
  color: grey;
  cursor: not-allowed !important;
  background: transparent;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  display: block;
}

.table-button {
  border: 0px solid #C2C2C2;
  text-align: center;
  color: #81aa06;
  background: transparent;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  display: block;
}

.table-button:hover {
  text-decoration: none;
}

.trash:hover {
  transition: 0.3s;
  color: #ff0000;
}

.edit:hover {
  transition: 0.3s;
  color: #0000ff;
}

.view:hover {
  transition: 0.3s;
  color: #000000;
}

